<ion-view view-title="my.inc" cache-view="true" ng-controller="ProviderCtrl">
  	<ion-nav-buttons side="right">
    	<button class="button button-icon button-clear " ng-class="{&apos;text-pink ion-ios-heart&apos;: isActive, &apos;ion-ios-heart-outline&apos;: !isActive}" ng-click="activeButton()"></button>
  	</ion-nav-buttons>
	<ion-content has-bouncing="false" stellax>
		<div class="profile-main provider-background" data-stellar-ratio="0.8">
			<div class="profile-pic">
				<img src="{{user.profilePic}}" alt="">
			</div>
			<p id="user-name">{{user.name}}</p>
			<p id="like-count"><i class="icon ion-ios-heart-outline"></i> <span>{{user.likeCount}} likes</span></p>
			<a href="" class="btn btn-s btn-orange">edit profile</a>
			<p id="about-me">A mathematician and yoga teacher based out of Austin, TX. Anthony approaches health and wellness with a playfulness and even a sense of humor that encourages all personalities to the mat.</p>
		</div>
		<!-- Upcoming Classes Start -->
		<div id="" class="list classesAppointments" data-stellar-ratio="1.2">

		  <div class="item item-divider">
		    MY CLASSES  |  SERVICES
		  </div>
		  <a class="item item-icon-left item-button-right" href="#">
		  	<i class="icon ion-ios-people"></i>
		    <span class="item-header">Yoga class</span>
		    <span class="item-text">Open</span>
		    <span class="item-text">Thursday 4/16/2015 5:30PM</span>
		    <span class="item-note item-count">
				<span class="item-count-header">Attendance</span>
				<span>3/14</span>
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#">
		  	<i class="icon ion-calendar"></i>
		    <span class="item-header">Science teaching</span>
		    <span class="item-text">Hourly math teaching</span>
		    <span class="item-text">Upcoming: Thursday 4/17/2015 8:30PM</span>
		    <span class="item-note item-count">
				<span class="item-count-header">Awaiting approval</span>
				<span>2</span>
		    </span>
		  </a>
		  <a class="item item-icon-left item-button-right" href="#">
		  	<i class="icon ion-ios-people"></i>
		    <span class="item-header">Yoga class</span>
		    <span class="item-text">Open</span>
		    <span class="item-text">Thursday 4/25/2015 8:30PM</span>
		    <span class="item-note item-count">
				<span class="item-count-header">Attendance</span>
				<span>1/10</span>
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#">
		  	<i class="icon ion-calendar"></i>
		    <span class="item-header">Math teaching</span>
		    <span class="item-text">Hourly math teaching</span>
		    <span class="item-text">Upcoming: Thursday 4/16/2015 5:30PM</span>
		    <span class="item-note item-count">
				<span class="item-count-header">Awaiting approval</span>
				<span>5</span>
		    </span>
		  </a>
		</div>
		<!-- Upcoming Classes Start -->


	</ion-content>
	<div class="tabs profile-tabs-bottom bg-orange">
	  <a class="tab-item icon-left ion-plus">
	    &nbspADD CLASS
	  </a>
	  <a class="tab-item icon-left ion-ios-color-wand">
	    &nbspPROVIDE SERVICE
	  </a>
	</div>
</ion-view>